* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: beige;
    font-family: 'Lucida Sans', 'verdana';

}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'verdana';
    margin-top: 10px;
}

.container {
    width: auto;
    margin: 25px;
    padding: 15px;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: gray 1px 1px 10px 3px;
    form {
        text-align: center;
        margin: 10px;
        margin-top: 10px;
        width: auto;
        input {
            margin: 10px;
            width: 400px;
            border-radius: 15px;
            padding: 10px;
            border: 1px solid white;
        }
        .submit {
            padding: 5px;
            border-radius: 5px;
            border: 2px solid green;
            cursor: pointer;
            font-family: 'Lucida Sans', 'Verdana';
            background-color: greenyellow;
            margin: 10px;
            width: 200px;
            &:hover {
                background-color: green;
                transition: 500ms;
            }
        }
    }
}
